body {
    background-image: url("../images/creepy.jpg");
}

.container {
    background-image: url("../images/woodGrain.jpg");
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 90%;
    min-height: 750px;
}

#title {
    background-color: black;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    color: #C80F2E;
    border-radius: 5px;
    min-width: 175px;
}

#wordDisplay {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    background-color: brown;
    color: black;
    font-style: italic;
    font-size: xx-large;
    border-radius: 5px;
}

#game {
    font-family: 'IM Fell English SC', serif;
    padding: 15px;
    margin: 5px;
    background-color: black;
    color: #C80F2E;
    text-align: center;
    border-radius: 5px;
    font-size: x-large;
}
